<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.patient.my-record.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>
<header th:insert="common/top-menu.html :: menu"></header>
<div class="container-fluent">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <th>
                    <p th:text="#{page.patient.my-record.records.datetime}"></p>
                </th>
                <th>
                    <p th:text="#{page.patient.my-record.records.speciality}"></p>
                </th>
                <th>
                    <p th:text="#{page.patient.my-record.records.doctor-name}"></p>
                </th>
                </thead>
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${#temporals.format(record.dateTime, 'EEE, d MMMM hh:mm')}"></td>
                    <td th:text="${record.speciality}"></td>
                    <td th:text="${record.doctor.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>