<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.patient.my-record.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>
<header th:insert="common/top-menu.html :: menu"></header>
<div class="container-fluent">
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>
</body>
</html>