<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "#{page.register.title}"></title>
</head>
<body>
<div class="fluent-container">
    <div class="row">
        <div class="col-md-4">
            <form class="form" action="/user/register" method="POST">
                <label for="name" th:text="#{page.register.field.name}"></label>
                <input id="name" name="name" type="text"/>

                <label for="password" th:text="#{page.register.field.password}"></label>
                <input id="password" name="password" type="password"/>

                <label for="register" th:text="#{page.register.button.register}"></label>
                <input id="register" type="submit">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />`
            </form>
        </div>
    </div>
</div>
</body>
</html>