<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{page.welcome.title}"></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="..\static\css\index.css" rel="stylesheet">
	</head>
	
	<body class="text-center">
	
		<form class="form-signin">
			<img src="../static/img/hospital.png" width="100" height="100">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{page.welcome.header}"></h1>
			<input placeholder="Login" class="form-control" type="email"/>
			<input placeholder="Password" class="form-control" type="password"/>
			<button type="submit" class="btn btn-lg btn-danger btn-block" th:text="#{page.welcome.btn-enter}"></button>
			<button type="button" class="btn btn-ls btn-secondary btn-block" th:text="#{page.welcome.btn-reg}"></button>
			<p class="mt-5 mb-3 text-muted" th:text="#{page.welcome.signature}"></p>
			
		</form>
		
	</body>
</html>